.box_el {
    background-color: rgb(219, 231, 231);
    height: 700px;
}

.img1 {
    margin-left: 490px;

}

.img2 {
    margin-left: 10px;
}

.img3 {
    margin-top: 100px;
    margin-left: 50px;
    position: absolute;
}

.img4 {
    margin-top: 130px;
    position: absolute;
    margin-left: 160px;
}

.img5 {
    margin-left: -300px;
    position: absolute;
    margin-top: 200px;
}

.imga5 {
    margin-left: 20px;
    margin-top: 100px;
    position: absolute;
}

.imga0 {
    margin-left: 100px;
    margin-top: 300px;
}

.imga8 {
    margin-top: 100px;
    position: absolute;
}

.hello {
    margin-top: 200px;
    position: absolute;
    margin-left: 70px;
}

.hello>h2 {
    font-size: 30px;
    color: rgb(7, 143, 141);
    font-weight: 900;
}

.hello>h1 {
    font-size: 55px;
    color: rgb(6, 151, 149);
    font-weight: 900;

}

.hello>p {
    font-size: 20px;
    margin-top: 20px;
    width: 400px;
    color: rgb(1, 179, 176);
    font-weight: 900;
}

.div {
    width: 300px;
    height: 35px;
    background-color: rgb(1, 179, 176);
    border-radius: 8px;
    margin-top: 40px;
}

.word_img {
    width: 400px;
    margin-left: 700px;
    height: 400px;
    margin-top: -300px;
    border-radius: 190px;
    background-color: rgb(144, 221, 220);

}

.img_le {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}

.icon_div {
    margin-left: 650px;
    margin-top: -270px;
    display: flex;
    gap: 500px;
}

.icon_one,
.icon_two {
    font-size: 40px;
    color: rgb(0, 167, 164);
    cursor: pointer;
}

.icons {
    width: 45px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgb(0, 167, 164);
}

.baby_img {
    width: 450px;
    margin-top: -130px;
    border-radius: 10px;
    margin-left: 5%;
    position: absolute;
}